
<section modular="project-preview">
	<div class="inner">
		
		{% include 'partials/intro-block.html.twig' %}

		<div class="flex">
			
		{% for project in page.header.project %}
			{% set project_media_path = project.media|first.path %}
			<div class="element project" scroll-parallax='true' parallax-type='bottom' parallax-offset='0-150'>
				<div class="flex">
					
					<div class="element inner">
						<div class="img-container">
							<img src="{{ url(project_media_path) }}">
						</div>
						<a href="{{ url(project.pageselect|raw) }}">
						<div class="overlay">
							
							<div class="text-container flex">
								<p>{{ project.description|raw }}</p>
							</div>
							
						</div></a>
					</div>
					<div class="element inner">
						<div class="title">
							<div class="text-container flex">
								<p>{{ project.title|raw }}</p>
								<a class="button icon-arrow-right2" href="{{ url(project.pageselect|raw) }}"></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		{% endfor %}

		</div>

	</div>
</section>