<footer>
	<div class="inner">
		<div class="flex">
			<div class="element">
				<div class="wrap logo">
					<div class="inner">

						<a href="{{ home_url }}">
							<picture>
								<source media="(min-width: 640px)" srcset="{{ url('theme://assets/media/logo/logo.png') }}">
								<source media="(min-width: 320px)" srcset="{{ url('theme://assets/media/logo/logo-s.png') }}">
								<img src="{{ url('theme://assets/media/logo/logo.png') }}" alt="{{ site.title }}">
							</picture>
						</a>

					</div>
				</div>
			</div>

			<div class="element">
				<div class="inner">
					<a href="/">CONTACT</a>
					<a href="/">IMPRINT</a>
					<a href="/">DATENSCHUTZ</a>
				</div>
			</div>
			<div class="element">
				<div class="inner">
					<a href="/">Marc Rimkus</a>
					<a href="/">contact@morhero.de</a>
				</div>
			</div>
			<div class="element">
				<div class="inner">
					<p>Follow me on</p>
					<a href="/">ICON TWITTER</a>
					<a href="/">ICON INSTA</a>
					<a href="/">ICON YT</a>
					<a href="/">ICON TWITCH</a>
					<a href="/">ICON STEAM</a>
				</div>
			</div>
		</div>
	</div>
</footer>